.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

button {
  background-color: $color-offwhite;
  border: none;
  padding: 20px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

.quantity-display {
  background-color: $color-offwhite;
  font-size: 20px;
  font-weight: 800;
  padding: 20px;
}

.cartBtn {
  width: 200px;
  border-radius: 10px;
  background-color: $color-black;
  color: $color-white;
  cursor: pointer;
}

.cartBtn:hover {
  box-shadow: 10px 10px 5px 0px rgba(140, 130, 130, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(140, 130, 130, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(140, 130, 130, 0.75);
}

.cartBtn:disabled {
  background-color: $color-grey;
  cursor: auto;

  &:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
