.checkout-modal {
  height: 170px;
  background-color: #fff;
  box-shadow: 0 4px 20px -4px #aaa;
  border-radius: 8px;
  position: absolute;
  right: 0;
  top: 35px;
  width: 320px;
  padding: 15px;
  z-index: 8000;

  @media only screen and (max-width: 450px) {
    width: 225px;
    height: 250px;
  }

  @media only screen and (max-width: 375px) {
    right: -10px;
  }

  & > h2 {
    font-size: 20px;
  }
}

.hidden {
  display: none;
}

.cart-content__container {
  display: flex;
  justify-content: center;

  & > p {
    margin-top: 50px;
  }
}

.cart-content__container-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cart-content {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media only screen and (max-width: 450px) {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  & > ion-icon {
    font-size: 24px;
    cursor: pointer;
  }
}

.modal-thumbnail {
  width: 25%;
  aspect-ratio: 3/2;
  object-fit: contain;
  border: none;
  padding: 0;
}

.cart-content__text {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;

  & > h3 {
    font-size: 16px;
  }

  & > p {
    font-size: 14px;
    padding: 0;
  }
}

.checkout-btn {
  border-radius: 10px;
  background-color: $color-black;
  color: $color-white;
  cursor: pointer;
}
